<div class="container text-center"  *ngIf="naves.length == 0; else divCarga">
    <div class="row">
        <div class="col-12">
            <div class="spinner-border text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>  
    </div>
</div>

<ng-template #divCarga>
    <div class="continer ">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <ul class="list-group bg-dark" *ngFor="let item of naves"
                    infinite-scroll
                [infiniteScrollDistance]="4"
                [infiniteScrollThrottle]="2000" 
                (scrolled)="onScroll()"
                >
                    <li class="list-group-item text-white-50 bg-dark mb-2">
                        <h3>{{item.name}}</h3>
                        <h6>{{item.model}} </h6>
                        <a [routerLink]="['/StarWars/details/', item | id]">More...</a>
                        
                    </li>
                </ul>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</ng-template>

