<div class="container ">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 bg-light mt-5 text-center b">
            <h2>Sign in to <br> Wars web</h2>
            <form >
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">email  </label>
                    <div class="col-sm-12 col-md-12">
                        <input 
                        type="text" 
                        readonly class="form-control" id="staticEmail" 
                    
                        >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-12 col-md-12 "  >
                        <input type="password" class="form-control" id="inputPassword"
                        >
                    </div>
                </div>
                <button class="btn btn-success" (click)="validate()" >Sing In</button>
            </form>
            

            <div class="text-center">
                <p>New to Star Wars? <a routerLink="/auth/singUp">Create an account.</a> </p>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>

</div>