<div class="continer">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action ">
                    The current button
                </button>
                <button type="button" class="list-group-item list-group-item-action">A second item</button>
                <button type="button" class="list-group-item list-group-item-action">A third button item</button>
                <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
                <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>