<div class="container ">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 bg-light mt-5 text-center b">
            <h2>Sign Up to <br> Wars web</h2>
            <form [formGroup]="myForm" >
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">UserName</label>
                    <div class="col-sm-12 col-md-12 "  >
                        <input type="text" class="form-control" 
                        formControlName="usuario"
                        >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">email</label>
                    <div class="col-sm-12 col-md-12 "  >
                        <input type="text" class="form-control" 
                        formControlName="email"
                        >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">password</label>
                    <div class="col-sm-12 col-md-12 "  >
                        <input type="password" class="form-control" 
                        formControlName="id"
                        >
                    </div>
                </div>
                
            </form>
            <button class="btn btn-success"(click)="submit()" [disabled]="myForm.invalid" >Sing Up</button>
            

            <div class="text-center">
                <p>Do you already have an account? <a routerLink="/auth/login">Sing In</a> </p>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>

    
</div>