<!-- <div class="container ">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 bg-light mt-5 text-center b">
            <h2>Sign Up to <br> Wars web</h2>
            <form [formGroup]="myForm" >
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">UserName</label>
                    <div class="col-sm-12 col-md-12 "  >
                        <input type="text" class="form-control" 
                        formControlName="usuario"
                        >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">email</label>
                    <div class="col-sm-12 col-md-12 "  >
                        <input type="text" class="form-control" 
                        formControlName="email"
                        >
                    </div>
                </div>
            </form>
            <button class="btn btn-success"(click)="submit()" [disabled]="myForm.invalid" >Sing Up</button>
            

            <div class="text-center">
                <p>Do you already have an account? <a routerLink="/auth/login">Sing In</a> </p>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>

    
</div> -->

<form [formGroup]="myForm">
    <!-- Name -->
    <div class="mb-3">
      <input  type="text"
            class="form-control"
            placeholder="First Name"
            formControlName="name"/>
    </div>
    <!-- Email -->
    <div class="mb-3">
    <input  type="email"
            class="form-control"
            placeholder="Email Address"
            formControlName="email">
    </div>
    <!-- Password -->
    <div class="mb-3">
      <input  type="password"
            class="form-control"
            placeholder="Enter your password"
            formControlName="password"/>
            <p class="form-error">
          
            </p>
    </div>
    <div class="mt-2">
      <button type="submit"
              class="btn btn-primary text-light"
              (click)="submit()">
        Continue
      </button>
    </div>
  </form>