
<div *ngIf="pilots.length == 0 ; else divCarga">
  <p class=" text-white">Esta nave no tiene lista de Pilotos</p>
</div>

<ng-template #divCarga>
  <h2 class="header text-light"> pilots </h2>
  <div class="row row-cols-1 row-cols-md-5 g-4 ">
      <div class="col text-light" *ngFor="let pilot of pilots">
        <div class="card bg-dark ">
          <div class="card-body">
            <h5 class="card-title"> {{ pilot.name }} </h5>
            <p>height:{{pilot.height}}cm</p>
          </div>
        </div>
      </div>
  </div>
</ng-template>
