<nav class="navbar  navbar-nav bg-transparent">

<div class="container bg-transparent">
    <div class="text-white">
        <p>{{auth.usuario}}
        </p>
        
    </div>
    <div >
        <!-- espacio -->
    </div>
    <ul class="nav justify-content-center me-5  ">
        <li>
            <a class="navbar-brand justify-content-center " routerLink="">
                <img src="./assets/logoOfi.png"  alt="TitleLogo"  width="250" height="88" >
            </a>
        </li>
    </ul>
    <ul class="nav justify-content-end ms-1">
            <li class="nav-item">
                <a class="nav-link  text-white-50" routerLink="/auth/login">LOG IN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50" routerLink="/auth/singUp">SIGN UP</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid border-bottom border-top  bg-transparent">
        <ul class="nav justify-content-center ">
            <li class="nav-item border border-light p-1">
                <a class="nav-link text-white-50 " routerLink="/StarWars/Home">Home</a>
            </li>
            <li class="nav-item  border border-light p-1">
                <a class="nav-link text-white-50" routerLink="/StarWars/StarShips">StarShips</a>
            </li>
        </ul>
    
    

</div>
