<nav class="navbar  navbar-dark bg-dark">

<div class="container">
    <div>
        <!-- espacio -->
    </div>
    <div >
        <!-- espacio -->
    </div>
    <ul class="nav justify-content-center me-5  ">
        <li>
            <a class="navbar-brand justify-content-center " href="#">
                <img src="./assets/logoOfi.png"  alt="TitleLogo"  width="250" height="88" >
            </a>
        </li>
    </ul>
    <ul class="nav justify-content-end ms-1">
            <li class="nav-item">
                <a class="nav-link  text-white-50" href="#">LOG IN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white-50" href="#">SIGN UP</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid border-bottom border-top  bg-dark">
        <ul class="nav justify-content-center ">
            <li class="nav-item border border-light p-1">
                <a class="nav-link text-white-50 " href="">Home</a>
            </li>
            <li class="nav-item  border border-light p-1">
                <a class="nav-link text-white-50" href="/StarShips">StarShips</a>
            </li>
        </ul>
    
    

</div>
