<head>
    <style>
    
        body{
        background-image: url(./assets/fondo.jpg);
            background-position: center;
            background-attachment: contain;
            background-size: cover;
            height: 1000px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<div class="container-fluid bg-transparent text-white FondoWelcome">
    <div class="row">
        <div class="col-2">
            
        </div>

        <div class="col-5 m-0 p-0">   

            <img src="https://wallpaperaccess.com/full/3430638.png"  class="d-block w-100" alt="">
        
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-6  ms-5">
            <h1 class="font-title">
                Stars 
                <br> 
                Wars
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quo tempore molestiae porro inventore hic quisquam rem.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, totam ipsa! Libero voluptate magnam quibusdam accusamus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur neque commodi amet ex odit deleniti officia ducimus fugiat?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe tempore suscipit similique quae quasi nam neque quia placeat reprehenderit consectetur? Distinctio beatae commodi quaerat placeat enim id libero voluptates reprehenderit.</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-grid gap-2 col-4 mx-auto">
            <button class="btn btn-light" (click)="start()" >
                    
                <i class="fa-solid fa-jedi">GO!</i>
            </button>
        
        </div>
    </div>
</div>