<div class="container bg-transparent text-white">
    <div class="row">
        <div class="col-2">
            
        </div>

        <div class="col-6 m-0 p-0">   

            <img src="https://wallpaperaccess.com/full/3430638.png"  class="d-block w-100" alt="">
        
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-6">
        <h1 class="font-title">Stars <br> Wars</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est omnis excepturi, iste molestias voluptates a nulla exercitationem fugit rerum veritatis, architecto inventore eum quis, atque nobis deserunt perspiciatis distinctio praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis deleniti natus error culpa itaque eaque ducimus, provident eius consequatur voluptates libero asperiores quam ipsam ab, obcaecati ipsa accusantium quod aut?</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a routerLink="/Home" class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-light">
                    
                    <i class="fa-solid fa-jedi">GO!</i>
                </button>
            </a>
        </div>
    </div>
</div>