<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner ">
                    <div class="carousel-item active">
                    <img src=" https://lumiere-a.akamaihd.net/v1/images/episode-104-andor-mobile_1e23a08d.jpeg?region=0,0,1024,626&width=960" class="d-block w-100  " alt="...">
                    <div class="carousel-caption d-none d-md-block">

                        <h5> <img src="https://lumiere-a.akamaihd.net/v1/images/104-andor_episode_logotitle-_1_6024135f.png?region=0,0,1200,717&width=600" alt=""></h5>
                        <p>Out of options, Cassian is recruited for a dangerous mission to infiltrate an Imperial garrison.</p>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <img src="https://lumiere-a.akamaihd.net/v1/images/andor-premiere-feature-hero-mobile_00f57863.jpeg?region=0,0,1024,626&width=960" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>"A Potent Moment in History": Insights from Tony Gilroy and the <i>Andor</i> Cast </h5>
                        <p>The creator/executive producer and cast discuss their revolutionary look at the Rebellion.</p>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <img src="https://lumiere-a.akamaihd.net/v1/images/diego-luna-interview-1-hero-mobile_d5eb181a.jpeg?region=0,0,1024,626&width=960" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>"His Awakening Begins": Star Diego Luna on Returning to Cassian in <i>Andor</i></h5>
                        <p>The actor tells StarWars.com about how his character's journey and his cultural heritage combine for a new and timely <i>Star Wars</i> story.</p>
                    </div>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            </div>
            <div class="col">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
